:root {
    --cor_primaria: rgb(114, 0, 114);
    --cor_secundario: rgb(194, 0, 194);
    --cor_terciaria: #fefefe;
    --cor_texto_cinza: #353535;
    --cor_texto_cinza_claro: #adadad;

    --fonte-padrao: "Poppins", sans-serif;
    --fonte-destaque: "Lobster", cursive;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #353535;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

#container {
    width: 100%;
    height: 100vh;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--cor_terciaria);
    width: 100%;
    height: 12vh;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, .4);
}

#header .logo {
    font-family: var(--fonte-destaque);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo h1 {
    font-size: 2.3em;
}

.logo h2 {
    font-size: 1.8em;
    color: var(--cor_secundario);
}

/* Menu de navegação */
#navigation {
    display: flex;
    align-items: center;
    gap: 20px;
}

#navigation li {
    list-style: none;
    padding: 12px;
}

#navigation li a {
    text-decoration: none;
    color: var(--cor_texto_cinza);
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
}

#navigation li a::after {
    content: "";
    width: 0%;
    height: 3px;
    background-color: var(--cor_primaria);
    display: block;
    transition: 0.4s;
}

#navigation li a:hover::after {
    width: 100%;
}
/* 
#navigation li a:hover {
    transition: 0.4s;
    color: var(--cor_texto_cinza_claro);
} */